$color-text-modal: #666;
$color-border-button-option: rgb(157, 157, 157);
$box-shadow-modal: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
$size-width-modal-lg: 244px;
$size-height-modal-lg: 460px;
$size-width-modal-ls: 144px;
$size-height-modal-ls: 164px;
.background-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  display: flex;
  background-color: transparent;
  justify-content: center;
  @media screen and (max-width: 592px) {
    padding: $default-padding;
  }
}
.modal-action {
  position: absolute;
  width: $size-width-modal-ls;
  height: $size-height-modal-ls;
  max-height: $size-height-modal-ls;
  box-shadow: $box-shadow-modal;
  left: 0;
  top: 44px;
}

.background-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  z-index: 1;
}
.action-date {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  width: 100%;
}

.modal-task {
  position: relative;
  background-color: #fff;
  border: 1px solid $default-outline-color-search;
  height: max-content;
  min-height: 204px;
  width: 544px;
  top: calc(100dvh / 5.5);
  box-shadow: $box-shadow-modal;
  border-radius: $border-radius-ls;
  color: $color-text-modal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-priority {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    &_select {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }
  }

  &-editor {
    padding: $default-padding;
    display: flex;
    flex-direction: column;
    gap: 4px;
    &_select_priority {
      position: relative;
    }
    &_name {
      font-size: 20px;
      max-height: 204px;
      overflow-x: hidden;
    }
    &_description {
      font-size: 16px;
      max-height: 204px;
      overflow-x: hidden;
      margin-bottom: $default-padding / 2;
    }
    &-option {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: calc($default-padding / 2);
    }

    &_weekDays {
      border-top: 1px solid $color-border-button-option;
      padding: 4px 0;
    }

    &_select_date {
      position: relative;
    }

    &_modal_date {
      display: none;
      position: absolute;
      left: 0;
      top: 44px;
      height: $size-height-modal-lg;
      width: $size-width-modal-lg;
      box-shadow: $box-shadow-modal;
      background-color: #fff;
      border-radius: 14px;
      z-index: 2;
      span {
        color: black;
      }
    }
    &_date {
      padding: 8px 10px 8px 10px;
    }
  }
  &-date_name {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &-date {
    display: flex;
    gap: 4px;
    span {
      color: $color-text-modal;
    }
  }

  &-action {
    padding: calc($default-padding / 2);
    border-top: 1px solid $color-border-button-option;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    &_buttons {
      display: flex;
      flex-direction: row;
      gap: 4px;

      .add-task {
        color: #fff;
        background-color: $default-color-navigation;
      }
    }
    button {
      background-color: transparent;
      outline: none;
      border: none;

      .button-option {
        border: none;
      }
    }
  }

  @media screen and (max-width: 592px) {
    width: 100dvw;
  }
}

.button-option {
  height: 28px;
  width: max-content;
  padding: 0 4px;
  border: 1px solid $color-border-button-option;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.button-action {
  height: 34px;
  cursor: pointer;
  padding: 0 calc($default-padding / 2);
  background-color: transparent;
  border-radius: 4px;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  border: 1px solid grey;
  margin: 8px auto;
}

.data-picker {
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    border-top: 1px solid $color-border-button-option;
  }

  &_button {
    background-color: transparent;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
  }

  &_actions {
    display: flex;
    flex-direction: row;
  }

  &-weekDaysName {
    display: flex;
    align-items: center;

    flex-direction: row;
    padding: 4px 10px;

    span {
      width: calc($size-width-modal-lg / 7);
      text-align: center;
      font-size: 12px;
      color: $color-text-modal;
      line-height: 24px;
    }
  }

  &-monthlist {
    padding: 4px 10px;
    overflow-y: scroll;
    max-height: 184px;
    border-bottom: 1px solid $color-border-button-option;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-month {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;

    &_name {
    }

    &_days {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 1px solid $color-text-modal;
      span {
        width: calc($size-width-modal-lg / 9);
        text-align: center;
        color: $color-text-modal;
        line-height: 24px;
      }
    }
  }

  &-time {
    display: flex;
    height: 100%;
    padding: 12px 10px;

    &_button {
      color: $default-color-navigation;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
