$default-padding: 1em;
$default-height-navigation: 44px;
$default-width-leftSideBar: 17.5rem;
$default-color-navigation: rgb(53, 48, 106);
$default-outline-color-search: rgba(161, 122, 220, 0.203);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}
.navigation {
  height: $default-height-navigation;
  background-color: $default-color-navigation;
  display: grid;
  align-items: center;
  padding: 0 $default-padding;
  grid-template-columns: max-content auto $default-width-leftSideBar;
  grid-column-gap: $default-padding;

  &-leftside {
    align-items: center;
    display: flex;
    grid-column: 1;

    button {
      margin-right: calc($default-padding / 2);
      background-color: transparent;
      outline: none;
      border: none;
      height: 24px;
      width: 24px;
      svg {
        color: #fff;
      }
    }

    .leftside_input-search {
      position: relative;
      width: $default-width-leftSideBar;
      display: flex;
      background-color: $default-outline-color-search;
      transition: all 0.1s ease-in-out;

      cursor: text;
      svg {
        color: #ffffff6c;
        margin-right: calc($default-padding / 2);
      }
      input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;

        &::placeholder {
          color: #ffffff6c;
        }
      }

      &:hover {
        background-color: #fff;
        color: #000;

        svg {
          color: #000;
        }

        input {
          color: #000;

          &::placeholder {
            color: #000;
          }
        }
      }
    }

    .leftside_input-list {
      position: absolute;
      top: 54px;
      left: 77px;
      width: $default-width-leftSideBar;
      height: $default-width-leftSideBar / 2;
      background-color: #fff;
      border: 1px solid $default-outline-color-search;
      box-shadow: 0px 10px 10px 1px $default-outline-color-search;
    }
  }
}
