* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$padding-container: min(1rem, 16px);
$default-font-size: 1rem;
$padding-buttons: 8px 18px;
$main-font-color: black;
$buttons-color: transparent;
$buttons-hover-color: rgb(85, 134, 207);

@mixin buttons() {
  width: max-content;
  height: max-content;
  display: block;
  background-color: $buttons-color;
  border: 2px solid $main-font-color;
  font-weight: bold;
  padding: $padding-buttons;
  color: $main-font-color;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin hoverButtonBackgroundColor($color-button, $hover-color, $font-color) {
  @include buttons;
  @if $font-color == black {
    &:hover {
      color: #fff;
    }
  }

  &:hover {
    background-color: $main-font-color;
  }
}

.html,
body {
  font-size: $default-font-size;
}
.button {
  @include hoverButtonBackgroundColor(
    $buttons-color,
    $buttons-hover-color,
    $main-font-color
  );
}

.content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 84px auto;

  .navigation {
    grid-column: span 2;
  }

  .groups {
    width: 280px;
    height: 100vh;
    grid-column: 1;
    grid-row: 2;
  }
}
