* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$padding-container: min(1rem, 16px);
$default-font-size: 1rem;
$padding-buttons: 8px 18px;
$main-font-color: black;
$buttons-color: transparent;
$buttons-hover-color: rgb(85, 134, 207);

@mixin buttons() {
  width: max-content;
  height: max-content;
  display: block;
  background-color: $buttons-color;
  border: 2px solid $main-font-color;
  font-weight: bold;
  padding: $padding-buttons;
  color: $main-font-color;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin hoverButtonBackgroundColor($color-button, $hover-color, $font-color) {
  @include buttons;
  @if $font-color == black {
    &:hover {
      color: #fff;
    }
  }

  &:hover {
    background-color: $main-font-color;
  }
}

.html,
body {
  font-size: $default-font-size;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.button {
  @include hoverButtonBackgroundColor(
    $buttons-color,
    $buttons-hover-color,
    $main-font-color
  );
}

.content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 84px auto;

  .navigation {
    grid-column: span 2;
  }

  .groups {
    width: 280px;
    height: 100vh;
    grid-column: 1;
    grid-row: 2;
  }
}

.popper__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 0;
}
.choice-date {
  position: relative;
  z-index: 1;
}

.data-picker {
  width: 244px;
  height: 380px;
  border: 1px solid rgba(160, 158, 158, 0.329);
  border-radius: 24px;
  display: grid;
  grid-template-rows: 54px minmax(100px, 150px) auto auto;

  .data-input {
    grid-row: 1;
    padding: 4px 16px 0 16px;
    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }

  .data-WeekDays {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    border-top: 1px solid rgba(160, 158, 158, 0.329);
    border-bottom: 1px solid rgba(160, 158, 158, 0.329);
    padding: 0 16px 0 16px;
    h3 {
      font-size: $default-font-size;
    }

    .data-today {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .data-tomorrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .data-nextWeek {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .data-generates {
    grid-row: 3;
    display: grid;
    grid-template-rows: 24px auto;
    padding: 0 16px 0 16px;

    .data-title {
      grid-row: 1;
      height: max-content;
      display: flex;
      justify-content: space-between;
      .data-buttons {
        display: flex;
      }
    }
    .data-calendar {
      grid-row: 2;
    }
  }
}
