$default-padding: 1em;
$default-height-navigation: 44px;
$default-width-leftSideBar: 17.5rem;
$default-color-navigation: rgb(74, 68, 139);
$default-outline-color-search: rgba(161, 122, 220, 0.203);
$default-color-addTasks: #9a9898a7;
