$color-in-search: #fff;
@import "../../../../app/variables.scss";
.navigation-leftside-search {
  position: relative;
  width: $default-width-leftSideBar / 1.24;
  max-width: 100%;
  display: flex;
  background-color: $default-outline-color-search;
  transition: all 0.1s ease-in-out;
  color: $color-in-search;
  cursor: text;
  &__input {
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;

    &::placeholder {
      color: $color-in-search;
    }
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 420px) {
    position: relative;
    max-width: 24px;
    min-width: 24px;
    height: 24px;

    background-color: $default-outline-color-search;
    svg {
      position: absolute;
      width: 100%;
    }
    &__input {
      width: 100%;
      z-index: 1;
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &:focus-within {
    background-color: #fff;
    width: calc($default-width-leftSideBar * 1.4);

    svg {
      color: #000;
    }

    &__input {
      color: #000;

      &::placeholder {
        color: #000;
      }
    }
  }

  &-modal {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: max-content;
    min-height: 144px;
    top: 44px;
    border: 1px solid $default-outline-color-search;
    border-radius: 14px;
    display: none;
  }
}
